.grid {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  height: 500px;
}
.item1 {
  background-color: aqua;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: whitesmoke;
}
.item2 {
  background-color: bisque;
  height: 10%;
}
.item3 {
  background-color: blueviolet;
  height: 75%;
}
